project     = "ihomelabs"
environment = "development"
region      = "us-east-1"

enable_versioning              = true
enable_server_side_encryption  = true
sse_algorithm                  = "AES256"
enable_lifecycle_rule          = true
noncurrent_version_expiration_days = 90
enable_public_access_block     = true

create_iam_user       = false
create_iam_access_key = false

owner = "platform"
